@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --index: calc(1vw + 1vh);
    --index-height: calc(1vh);
    --index-width: calc(1vw);
    --theme-color: rgb(255, 4, 215);
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-log {
    position: relative;
    width: calc(var(--index-width) * 100);
    height: calc(var(--index-height) * 100);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-video-1-log {
    position: absolute;
    top: calc(var(--index-height) * 50);
    left: calc(var(--index-width) * -5);
    width: calc(var(--index-width) * 100);
    height: calc(var(--index-height) * 100);
    object-fit: cover;
    z-index: 0;
}

.background-video-2-log {
    position: absolute;
    top: calc(var(--index-height) * 1);
    left: calc(var(--index-width) * 58);
    width: calc(var(--index-width) * 100);
    height: calc(var(--index-height) * 100);
    object-fit: cover;
    z-index: 0;
}

.container-login {
    position: relative;
    padding: calc(var(--index) * 1);
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 20);
    border-radius: calc(var(--index) * 0.5);
    background-color: rgba(17, 25, 30, 0.75);
    backdrop-filter: blur(calc(var(--index) * 0.5)) saturate(180%);
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: calc(var(--index-width) * 8);
    margin-bottom: calc(var(--index) * 0.5);
}

.app-title-log {
    font-size: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * 1);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.input-field-log {
    width: 80%;
    height: calc(var(--index) * 1);
    font-size: calc(var(--index) * 0.6);
    padding: calc(var(--index) * 0.5);
    margin-bottom: calc(var(--index) * 0.5);
    border-radius: calc(var(--index) * 0.2);
    border: calc(var(--index) * 0.07) solid var(--theme-color);
    background: none;
    color: aqua;
}

.login-button {
    width: 30%;
    font-size: calc(var(--index) * 0.6);
    padding: calc(var(--index) * 0.5);
    margin-bottom: calc(var(--index) * 1);
    border-radius: calc(var(--index) * 0.2);
    border: calc(var(--index) * 0.07) solid var(--theme-color);
    background: none;
    color: aqua;
    cursor: pointer;
}

.button-to-register {
    background: none;
    border: none;
    color: aqua;
    cursor: pointer;
    font-size: calc(var(--index) * 0.6);
}
