.App {
    text-align: center;
}

:root {
    --index: calc(1vw + 1vh);
    --index-height: calc(1vh);
    --index-width: calc(1vw);
}

.App-back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--index-height) * 100);
    width: calc(var(--index-width) * 100);
    overflow: hidden;
    background-image: url('/public/background_3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
